#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=Console-based Audio Visualizer for Alsa
GenericName=cava
Comment=Console-based Audio Visualizer for Alsa
Exec=cava
Icon=visualization
