#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=Irssi
GenericName=irssi
Comment=Text mode chat client
Exec=irssi
Icon=im-message-new
