#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NeoMutt
GenericName=NeoMutt
Comment=NeoMutt is a command line mail reader 
Exec=urxvt -name NeoMutt -e neomutt %u
Icon=internet-mail
MimeType=x-scheme-handler/mailto;
