[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=false
Exec=urxvtc -name Ranger -title Ranger -e ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
