[Desktop Entry]
Type=Application
Name=ranger
GenericName=File Manager
Comment=Launches the ranger file manager
Icon=file-manager
Terminal=true
Exec=ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
