#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reddit Terminal Viewer
GenericName=RTV
Comment=RTV provides a text-based interface to view and interact with reddit
Exec=urxvt -name RTV -e rtv
Icon=internet-feed-reader
