configuration {
	modi: "window,drun,run";
	width: -50;
	lines: 15;
	columns: 1;
	font: "Source Sans Pro 10";
	bw: 1;
	location: 7;
	padding: 1;
	yoffset: -28;
	xoffset: 3;
	fixed-num-lines: false;
	show-icons: true;
	drun-icon-theme: "Boxcar";
	sort: true;
	separator-style: "none";
	hide-scrollbar: true;
	fake-transparency: false;
	click-to-exit: true;
	show-match: true;
	display-window: "Windows";
	display-run: "Commands";
	display-drun: "Programs";
}
