[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=CAVA
GenericName=Audio Visualizer
Comment=Console-based Audio Visualizer for Alsa
Exec=cava
Icon=emblem-audio-edit
