! vim: set filetype=xdefaults :

!! Comment out next line if using pywal
#include ".Xresources.ansi"
!#include ".Xresources.boxcar"

!! --- Fonts ---
Xft.autohint:                   0
Xft.lcdfilter:                  lcddefault
Xft.hintstyle:                  hintslight
Xft.hinting:                    1
Xft.antialias:                  1
Xft.rgba:                       rgb

!! --- Cursor ---
Xcursor.theme:                  DMZ-Black
Xcursor.size:                   16

!! --- URxvt ---
URxvt*title:                    URxvt
URxvt*termName:                 rxvt-unicode-256color
URxvt*depth:                    32
URxvt*saveLines:                2500
URxvt*urgentOnBell:             true
URxvt*internalBorder:           0
URxvt*lineSpace:                0
URxvt*scrollBar:                false
URxvt*cursorBlink:              true
URxvt*cursorUnderline:          true
URxvt*colorULMode:              on
URxvt.blurRadius:               2
URxvt*font:                     xft:Source Code Pro:pixelsize=12:Regular
URxvt*boldFont:                 xft:Source Code Pro:pixelsize=12:Bold
URxvt*italicFont:               xft:Source Code Pro:pixelsize=12:Regular Italic
URxvt*italicBoldFont:           xft:Source Code Pro:pixelsize=12:Bold Italic
URxvt*perl-ext-common:          default,matcher,clipboard
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.url-select.autocopy:      true
URxvt.url-select.underline:     true
URxvt.matcher.button:           1

!! --- Xterm ---
xterm*boldColors:               false
xterm*borderWidth:              0
xterm*charClass:                33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*cursorBlind:              true
xterm*cutNewLine:               false
xterm*dynamicColors:            true
xterm*faceName:                 Source Code Pro,Source Code Pro Semibold
xterm*faceSize:                 10
xterm*internalBorder:           4
xterm*pointerMode:              2
xterm*renderFont:               true
xterm*selectToClipboard:        true
xterm*termName:                 xterm-256color
xterm*toolBar:                  false
