! .Xresources
 
!! --- Colors ---
#include ".Xresources.antsy"

!! --- Fonts ---
Xft.autohint:                   0
Xft.lcdfilter:                  lcddefault
Xft.hintstyle:                  hintslight
Xft.hinting:                    1
Xft.antialias:                  1
Xft.rgba:                       rgb

!! --- Cursor ---
Xcursor.theme:                  "OpenZone Black"
Xcursor.size:                   16

!! --- URxvt ---
URxvt*title:                    URxvt
URxvt*termName:                 rxvt-unicode-256color
URxvt*depth:                    32
URxvt*saveLines:                2500
URxvt*urgentOnBell:             true
URxvt*internalBorder:           3
URxvt*lineSpace:                0
URxvt*scrollBar:                false
URxvt*cursorBlink:              true
URxvt*cursorUnderline:          true
URxvt*colorULMode:              on
URxvt.blurRadius:               2
URxvt*font:                     xft:Hack Nerd Font:pixelsize=13:Regular
URxvt*boldFont:                 xft:Hack Nerd Font:pixelsize=13:Regular:Bold
URxvt.italicFont:               xft:Hack Nerd Font:pixelsize=11:Italic
URxvt.boldItalicFont:           xft:Hack Nerd Font:pixelsize=11:Italic:Bold
URxvt*perl-ext-common:          default,matcher
URxvt.url-launcher:             qutebrowser
URxvt.matcher.button:           1

!! --- Screensaver ---
xscreensaver.mode:			                blank
xscreensaver.timeout:		                0:10:00
xscreensaver.lock:			                true
xscreensaver.lockTimeout:		            0:10:00
xscreensaver.passwdTimeout:		            0:00:30
xscreensaver.dpmsEnabled:		            true
xscreensaver.dpmsOff:		                0:20:00
xscreensaver.nice:			                10
xscreensaver.memoryLimit:		            0
xscreensaver.verbose:		                false
xscreensaver*timestamp:		                false
xscreensaver.fade:			                false
xscreensaver.unfade:		                false
xscreensaver.splash:		                false

xscreensaver.passwd.heading.label:          Arch Linux
xscreensaver.passwd.body.label:             
xscreensaver.passwd.unlock.label:           
xscreensaver.passwd.login.label:
xscreensaver.passwd.user.label:             Username:
xscreensaver.passwd.thermometer.width:      0
xscreensaver.passwd.asterisks:              True
xscreensaver.passwd.uname:                  True

xscreensaver*dateFormat:

xscreensaver.Dialog.logo.width:		        210
xscreensaver.Dialog.logo.height:		    210
xscreensaver.Dialog.internalBorderWidth:    0
xscreensaver.Dialog.borderWidth:		    0
xscreensaver.Dialog.shadowThickness:	    0

xscreensaver.Dialog.headingFont:	        -*-helvetica-bold-r-*-*-*-180-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:	            -*-helvetica-bold-r-*-*-*-140-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:	            -*-helvetica-bold-r-*-*-*-140-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:	            -*-helvetica-bold-r-*-*-*-120-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:	            -*-helvetica-bold-r-*-*-*-140-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:	            -*-courier-medium-r-*-*-*-140-*-*-*-iso8859-1


! vim: set ft=xdefaults :
